


body {

    background-color:rgb(34, 33, 33);
}

h1 {

    color:hsl(0, 62%, 33%);

    margin-top: 1cm;
    margin-right: 10mm;
    margin-bottom: 40Q;
    margin-left: 0cm;

    padding-top: 2mm;
    padding-right: 2mm;
    padding-bottom: 2mm;
    padding-left: 0mm;

    border-style: inset;
    border-color: rgb(139, 69, 69);
    border-width: 8px;
    border-radius: 100px;

    display: grid;

    grid-template-columns: 10px 10px auto 10px 10px;
    grid-template-rows: 10% 1mm auto;
    justify-items: start;
}

h2 {

    margin: 1vw 1vh 1vmin 1vmax;
    padding: 1mm 1mm 1mm 0mm;

    display: inline-block;
}

h3 {

    margin: auto;
    padding: 1mm 1mm 1mm 0mm;
}

ol {

    color:rgb(160, 160, 160);
    text-decoration: dotted underline;
    text-align: center;
    position: relative;
}

form {

    color:rgb(160, 160, 160);
    height: 20cm;
    width: 20cm;

    max-width: 30cm;
    min-width: 15cm;

    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

p {
    font-family: 'Karantina', cursive, 'Dela Gothic One', cursive;;
    color:rgb(160, 160, 160);
    position: sticky;
}

button:hover {

    color:blue;
}

button:active {

    color:crimson;
}


/* change background color when window size smaller than 35rem*/
@media (max-width: 35rem) {
    body {
      background: rgb(156, 0, 104);
    }
  }  

#Day2{

    color:rgb(41, 41, 160);
}

*.Day3{

    color:darkolivegreen;
}

a[href]{

    color:rgb(148, 150, 20);
}

a[href="#Day1"]{

    color: rgb(18, 95, 25);
}

h2,h3 {

    color:rgb(17, 91, 126);
}

form p {

    color: rgb(41, 104, 62);
}

ol > li {

    color: rgb(103, 116, 56); 
}

h1 ~ p {

    color: rgb(91, 63, 214); 
}

h2 + ol {

    color: rgb(200, 255, 1);
}

h1.Day1 {

    color: red;
}